body {
  text-align: center;
  font-family: Arial;
  background: #f4f4f4;
}

canvas {
  background: white;
  border: 2px solid black;
  margin-top: 20px;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}